version: "3.9"

services:
  frontend:
    build:
      context: ./frontend
      dockerfile: docker/Dockerfile.dev
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=development
    volumes:
      - ./frontend:/app
      - /app/node_modules
    depends_on:
      - backend
    networks:
      - frontend
      - backend

  backend:
    build:
      context: ./backend
      dockerfile: docker/Dockerfile.dev
    ports:
      - "8787:8787"
    environment:
      - HONO_ENV=development
    volumes:
      - ./backend:/app
      - /app/node_modules
      - /app/.wrangler
    depends_on:
      - db
    networks:
      - backend
      - db
  db:
    build:
      context: ./database
      dockerfile: docker/Dockerfile
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=postgres
    volumes:
      - db_data:/var/lib/postgresql/data
    networks:
      - db

volumes:
  db_data:

networks:
  frontend:
  backend:
  db:
